<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html">

<div class="container" layout:fragment="content">
    <div class="row mt-3 justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{'/add_applications'}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="userName">
                    </div>
                    <div class="mb-3">
                        <label>Course Name</label>
                        <select class="form-control" name="courseName">
                            <option>Java</option>
                            <option>Python</option>
                            <option>WEB</option>
                            <option>Java Middle</option>
                            <option>Kotlin</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Commentary</label>
                        <textarea class="form-control" name="commentary"></textarea>
                    </div>
                    <div class="mb-3">
                        <label>Phone</label>
                        <input type="text" class="form-control" name="phone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Applications</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>